<html>
<head>
  <title>word finder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
  <link rel="stylesheet" href="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="//code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
  <style type="text/css">
    div.container {
      margin: 0.5em;
    }
    .texts {
      border-width: 0;
    }
  </style>
</head>
<body>
  <div class="container">
    <form class="finder-form" action="/" method="get">
      <div class="texts ui-input-text ui-input-has-clear"><label for="texts">texts:</label><textarea class="texts-input" name="texts" data-clear-btn="true" data-mini="true"><%= texts %></textarea><a href="#" tabindex="-1" aria-hidden="true" class="clear-texts ui-input-clear ui-btn ui-icon-delete ui-btn-icon-notext ui-corner-all" title="Clear text">Clear text</a></div>
      <div class="lengths"><label for="lengths[]">length:</label>
        <select name="lengths[]" data-mini="false" data-native-menu="false" multiple>
          <%- (1..8).each do |n| -%>
            <option value="<%= n %>"<%= " selected" if lengths.include?(n) %>><%= n %></option>
          <%- end -%>
        </select>
      </div>
      <label><input type="checkbox" name="nouse_dict" value="1"<%= " checked" if nouse_dict %>>no use dictionary</label>
      <div class="submit"><input type="submit" value="find" data-mini="true"></div>
    </form>
    <ul class="results" data-role="listview" data-inset="true" data-autodividers="true">
      <%- results.each do |result| -%>
        <li class="result" data-word="<%= result %>"><a href="https://www.google.co.jp/search?q=<%= ERB::Util.url_encode(result) + "+" + ERB::Util.url_encode("意味") %>&cad=h" target=_blank><%= result %></a></li>
      <%- end -%>
    </ul>
  </div>
  <script language="javascript">
    $(function(){
      $(document).on("click", ".ui-page-active .clear-texts", function(ev) {
        $(".ui-page-active .texts-input").val("");
      });
    });
  </script>
</body>
